<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <!-- Site Title-->
    <title>Home</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="static/../static/images/favicon.png" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=PT+Sans:300,400,500,700%7CRaleway:700">
    <link rel="stylesheet" href="static/css/bootstrap.css">
    <link rel="stylesheet" href="static/css/fonts.css">
    <link rel="stylesheet" href="static/css/style.css">
  </head>
  <body>
    <!-- Page Loader-->
    <div id="page-loader">
      <div class="page-loader-logo">
        <div class="brand">
          <div class="brand__name"><img src="static/../static/images/logo-135x47.png" alt="" width="135" height="47"/>
          </div>
        </div>
      </div>
      <div class="page-loader-body">
        <div id="loadingProgressG">
          <div class="loadingProgressG" id="loadingProgressG_1"></div>
        </div>
      </div>
    </div>
    <!-- Page-->
    <div class="page">
      <!-- Page Header-->
      <header class="page-header section">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-creative" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-fullwidth" data-xxl-layout="rd-navbar-fullwidth" data-sm-device-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-fixed" data-xl-device-layout="rd-navbar-fullwidth" data-xxl-device-layout="rd-navbar-fullwidth" data-stick-up-clone="false" data-md-stick-up-offset="150px" data-lg-stick-up-offset="60px" data-md-stick-up="true" data-lg-stick-up="true">
            <div class="rd-navbar-main-outer">
              <div class="rd-navbar-main">
                <!-- RD Navbar Panel-->
                <div class="rd-navbar-panel">
                  <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                  <!-- RD Navbar Brand-->
                  <div class="rd-navbar-brand"><a class="brand" href="/">
                      <div class="brand__name"><img src="static/../static/images/logo-135x47.png" alt="" width="135" height="47"/>
                      </div></a></div>
                </div>
                <!-- RD Navbar Nav-->
                <div class="rd-navbar-nav-wrap">
                  <div class="rd-navbar-main-item"><a class="button button-xs button-primary" href="/">Get a quote</a></div>
                  <!-- RD Navbar Nav-->
                  <ul class="rd-navbar-nav">
                    <li><a href="/index">Home</a></li>
                    <li><a href="/movie">Movie</a></li>
                    <li><a href="/score">Score</a></li>
                    <li><a href="/word">Word Cloud</a></li>
                    <li><a href="/teams">Teams</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>

      <!-- home section-->
      <section class="section section-md bg-default" data-type="anchor">
        <div class="bg-gray-4">
          <div class="container-fluid container-condensed">
            <div class="row row-30 flex-lg-row-reverse">
                <div style="text-align: center;">
                    <h2>
                        <span>Teams Page</span>
                    </h2>
                    <p>This page is used to display the information of team members.
                        Since this project was completed by me alone,
                        so I found Mickey and his friends on the internet to fill this page.</p>
                </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Counters-->
  <section class="section parallax-container bg-gray-dark" data-parallax-img="../static/images/bg-image-3.jpg">
    <div class="parallax-content">
      <div class="section-sm text-center">
        <div class="container container-wide">
          <div class="row justify-content-lg-center">
            <div class="col-xl-11">
              <!-- Section Header-->
              <div class="section__header section_header-noborder">
                <h2>Our Professionals</h2>
                <div class="section__header-element"><a class="link link-arrow" href="#"><span>View All Team</span></a></div>
              </div>
              <div class="row row-30">
                <div class="col-md-6 col-xl-3">
                  <!-- Card creative-->
                  <article class="card-creative">
                    <div class="card-creative__header"><img src="../static/images/Mickey.jpg" alt="" width="115" height="119"/>
                    </div>
                    <div class="card-creative__main" data-fixed-height="">
                      <p class="card-creative__title">Mickey</p>
                      <p class="card-creative__subtitle">Founder, CEO</p>
                      <div class="card-creative__element"><a href="mailto:#">info@demolink.org</a></div>
                    </div>
                  </article>
                </div>
                <div class="col-md-6 col-xl-3">
                  <!-- Card creative-->
                  <article class="card-creative">
                    <div class="card-creative__header"><img src="../static/images/DonaldDuck.jpg" alt="" width="115" height="119"/>
                    </div>
                    <div class="card-creative__main" data-fixed-height="">
                      <p class="card-creative__title">Donal Duck</p>
                      <p class="card-creative__subtitle">Business Development Manager</p>
                      <div class="card-creative__element"><a href="mailto:#">info@demolink.org</a></div>
                    </div>
                  </article>
                </div>
                <div class="col-md-6 col-xl-3">
                  <!-- Card creative-->
                  <article class="card-creative">
                    <div class="card-creative__header"><img src="../static/images/Goofy.jpg" alt="" width="115" height="119"/>
                    </div>
                    <div class="card-creative__main" data-fixed-height="">
                      <p class="card-creative__title">Goofy</p>
                      <p class="card-creative__subtitle">Project Manager</p>
                      <div class="card-creative__element"><a href="mailto:#">info@demolink.org</a></div>
                    </div>
                  </article>
                </div>
                <div class="col-md-6 col-xl-3">
                  <!-- Card creative-->
                  <article class="card-creative">
                    <div class="card-creative__header"><img src="../static/images/Pluto.jpg" alt="" width="115" height="119"/>
                    </div>
                    <div class="card-creative__main" data-fixed-height="">
                      <p class="card-creative__title">Pluto</p>
                      <p class="card-creative__subtitle">Senior Copywriter</p>
                      <div class="card-creative__element"><a href="mailto:#">info@demolink.org</a></div>
                    </div>
                  </article>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
      <br><br><br>

      <footer>
          <div class="footer-corporate__aside bg-black text-center">
          <div class="container container-fluid container-condensed">
            <div class="row row-20 row_xl-ten footer-corporate__range">
              <div class="col-md-8 col-xxl-6 footer-corporate__aside-column text-md-start">
                <!-- Rights-->
                <p class="rights"><span>Aqua</span><span>&nbsp;&copy;&nbsp;</span><span class="copyright-year"></span>.&nbsp;<br class="d-sm-none"><a class="link-underline" href="/">Privacy Policy</a> <a target="_blank" href="https://www.mobanwang.com/" title="网站模板" class="link-underline">网站模板</a></p>
              </div>
              <div class="col-md-4 col-xxl-4 footer-corporate__aside-column text-md-end">
                <ul class="list-inline-xxs">
                  <li><a class="icon icon-xs icon-style-modern fa fa-twitter" href="/"></a></li>
                  <li><a class="icon icon-xs icon-style-modern fa fa-facebook" href="/"></a></li>
                  <li><a class="icon icon-xs icon-style-modern fa fa-instagram" href="/"></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </footer>

    </div>
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!-- Javascript-->
    <script src="static/js/core.min.js"></script>
    <script src="static/js/script.js"></script>
    <!-- coded by himic-->
  </body>
</html>
