<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <!-- Site Title-->
    <title>Home</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="static/images/favicon.png" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=PT+Sans:300,400,500,700%7CRaleway:700">
    <link rel="stylesheet" href="static/css/bootstrap.css">
    <link rel="stylesheet" href="static/css/fonts.css">
    <link rel="stylesheet" href="static/css/style.css">
  </head>
  <body>
    <!-- Page Loader-->
    <div id="page-loader">
      <div class="page-loader-logo">
        <div class="brand">
          <div class="brand__name"><img src="static/images/logo-135x47.png" alt="" width="135" height="47"/>
          </div>
        </div>
      </div>
      <div class="page-loader-body">
        <div id="loadingProgressG">
          <div class="loadingProgressG" id="loadingProgressG_1"></div>
        </div>
      </div>
    </div>
    <!-- Page-->
    <div class="page">
      <!-- Page Header-->
      <header class="page-header section">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-creative" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-fullwidth" data-xxl-layout="rd-navbar-fullwidth" data-sm-device-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-fixed" data-xl-device-layout="rd-navbar-fullwidth" data-xxl-device-layout="rd-navbar-fullwidth" data-stick-up-clone="false" data-md-stick-up-offset="150px" data-lg-stick-up-offset="60px" data-md-stick-up="true" data-lg-stick-up="true">
            <div class="rd-navbar-main-outer">
              <div class="rd-navbar-main">
                <!-- RD Navbar Panel-->
                <div class="rd-navbar-panel">
                  <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                  <!-- RD Navbar Brand-->
                  <div class="rd-navbar-brand"><a class="brand" href="/">
                      <div class="brand__name"><img src="static/images/logo-135x47.png" alt="" width="135" height="47"/>
                      </div></a></div>
                </div>
                <!-- RD Navbar Nav-->
                <div class="rd-navbar-nav-wrap">
                  <div class="rd-navbar-main-item"><a class="button button-xs button-primary" href="/">Get a quote</a></div>
                  <!-- RD Navbar Nav-->
                  <ul class="rd-navbar-nav">
                    <li><a href="/index">Home</a></li>
                    <li><a href="/movie">Movie</a></li>
                    <li><a href="/score">Score</a></li>
                    <li><a href="/word">Word Cloud</a></li>
                    <li><a href="/teams">Teams</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>

      <!-- home section-->
      <section class="section section-md bg-default" data-type="anchor">
        <div class="bg-gray-4">
          <div class="container-fluid container-condensed">
            <div class="row row-30 flex-lg-row-reverse">
                <div style="text-align: center;">
                    <h2>
                        <span>豆瓣TOP250数据分析</span>
                    </h2>
                    <p>应用Python Crawler, Flask framework, Echarts, WordCloud等技术实现</p>
                </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Counters-->
      <section class="section parallax-container bg-gray-dark" data-parallax-img="static/images/parallax-3.jpg">
        <div class="parallax-content">
          <div class="section-md text-center">
            <div class="container container-wide">
              <ul class="list-blocks">
                <li class="list-blocks__item">
                  <div class="list-blocks__item-inner">
                      <a href="/movie">
                    <article class="box-counter-modern">
                      <div class="box-counter-modern__wrap">
                        <div class="counter">250</div>
                      </div>
                      <p class="box-counter-modern__title">Classic Movies</p>
                    </article>
                      </a>
                  </div>
                </li>
                <li class="list-blocks__item">
                  <div class="list-blocks__item-inner">
                      <a href="/score">
                    <article class="box-counter-modern">
                      <div class="box-counter-modern__wrap">
                        <div class="counter">5693</div>
                      </div>
                      <p class="box-counter-modern__title">Vocabulary Statistics</p>
                    </article>
                      </a>
                  </div>
                </li>
                <li class="list-blocks__item">
                  <div class="list-blocks__item-inner">
                      <a href="/word">
                    <article class="box-counter-modern">
                      <div class="box-counter-modern__wrap"><span>/</span><span class="big">01</span></div>
                      <p class="box-counter-modern__title">Rating Statistics</p>
                    </article>
                      </a>
                  </div>
                </li>
                <li class="list-blocks__item">
                  <div class="list-blocks__item-inner">
                      <a href="/teams">
                    <article class="box-counter-modern">
                      <div class="box-counter-modern__wrap">
                        <div class="counter">1</div>
                      </div>
                      <p class="box-counter-modern__title">Number Of Developers</p>
                    </article>
                      </a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <br><br><br>

      <footer>
          <div class="footer-corporate__aside bg-black text-center">
          <div class="container container-fluid container-condensed">
            <div class="row row-20 row_xl-ten footer-corporate__range">
              <div class="col-md-8 col-xxl-6 footer-corporate__aside-column text-md-start">
                <!-- Rights-->
                <p class="rights"><span>Aqua</span><span>&nbsp;&copy;&nbsp;</span><span class="copyright-year"></span>.&nbsp;<br class="d-sm-none"><a class="link-underline" href="/">Privacy Policy</a> <a target="_blank" href="https://www.mobanwang.com/" title="网站模板" class="link-underline">网站模板</a></p>
              </div>
              <div class="col-md-4 col-xxl-4 footer-corporate__aside-column text-md-end">
                <ul class="list-inline-xxs">
                  <li><a class="icon icon-xs icon-style-modern fa fa-twitter" href="/"></a></li>
                  <li><a class="icon icon-xs icon-style-modern fa fa-facebook" href="/"></a></li>
                  <li><a class="icon icon-xs icon-style-modern fa fa-instagram" href="/"></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </footer>

    </div>
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!-- Javascript-->
    <script src="static/js/core.min.js"></script>
    <script src="static/js/script.js"></script>
    <!-- coded by himic-->
  </body>
</html>
